.chia{
	display: flex;
	width: 700px;
	margin-left: 40px;
	
}
.anh{
	display: flex;
	max-width: 250px;
	width: auto;
	margin-right: 20px;
}
.noidung{
	width: 430px;
}
img{
	width: 100%;
}
.anh1{
	width: 120px;
	margin-right: 10px;
}
.anh2{
	width: 120px;
}
hr{
	width: 700px;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	
}
.tieude{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.nguontin{
	font-family: sans-serif;
	font-size: 13px;
}